/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 jun. 2022, 11:54:17
    Author     : kuzni
*/
body{
    background-color: red;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}
.col{
    flex: 1 0 0%;
}

.Text-contenedor{
    min-height: 100%;
    width:100%;
    
}

.container{
    margin-bottom: 101px;
}

.card_contenerdo{
    display: inline-flex;
    min-height: 150px;
    min-width: 140px;
}

footer{
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    background-color: #555;
}

.Contenedor_p{
    text-align: center;
    padding-top: 25px;
}

.div__contenedor{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #555;
}

.div__contenedor-form{
    min-width: 300px;
    height: 400px;
    text-align: center;
    flex: 1;
}

.div_form-INcontainer{
    margin-top:60px;
}

.form__input{
    color: #000; 
    width: 35%;
    padding: 5px;
    margin-top: 50px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    align-self: center;

}

.form__input:focus{
    background: linear-gradient(to bottom,transparent,#444);
    outline: none;
    border-bottom: 2px solid #9bb;
}

.Email{
    margin-top: 30px;
}
.Contra{
    margin-top: 30px;
    margin-bottom: 30px;
}

.form__button{
    width: 20%;
    height: 30px;
    background: #9bb;
    text-decoration: none;
    border: none;
}

.form__button:focus{
    background: #9cc;
    text-decoration: none;
    border: none;
}

.form__LinkRegister{
    margin: 5px;
    padding-top: 10px ;
}


@media only screen and (max-width: 500px){

    .div__contenedor{
        margin-top: 20%;
    }
    .form__button{
        width: 50%;
        height: 30px;
    }

}

.btn-success{
    --bs-btn-bg: red;
}
/*
.imagen_contenerdor img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}*/